absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1673535674859/work
accelerate==0.21.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.3
async-timeout==4.0.2
attrs==23.1.0
Babel==2.12.1
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.12.2
bert-score==0.3.9
# Editable Git install with no remote (bitsandbytes==0.40.2)
-e /media/data/mohammad-de/bitsandbytes
bleach==6.0.0
blessed==1.20.0
BLEURT @ git+https://github.com/google-research/bleurt.git@cebe7e6f996b40910cfaa520a63db47807e3bf5c
blinker==1.6.2
blis==0.7.9
boto3==1.28.56
botocore==1.31.56
bottle==0.12.25
brotlipy==0.7.0
build==1.0.3
cachetools==5.3.1
camel-kenlm==2023.3.17.2
camel-tools==1.5.2
catalogue==2.0.8
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer==3.2.0
ci-info==0.3.0
click==8.1.4
cmake==3.27.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
confection==0.1.0
configobj==5.0.8
configparser==5.3.0
contourpy==1.1.0
contractions==0.1.73
cryptography @ file:///croot/cryptography_1673298753778/work
cycler==0.11.0
cymem==2.0.7
Cython==0.29.36
dataclasses-json==0.5.12
datasets==2.13.1
debugpy==1.6.7
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepspeed==0.10.0
defusedxml==0.7.1
dill==0.3.6
docformatter==1.4
docopt==0.6.2
docutils==0.15.2
dotmap==1.3.30
editdistance==0.6.2
emoji==1.6.1
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
etelemetry==0.3.0
evaluate==0.4.0
exceptiongroup==1.1.2
executing==1.2.0
fairscale==0.4.13
faiss==1.7.3
fastjsonschema==2.17.1
fasttext @ file:///home/conda/feedstock_root/build_artifacts/fasttext_1650131834933/work
filelock==3.12.2
flake8==6.1.0
flake8-bugbear==23.9.16
Flask==2.3.2
Flask-Cors==4.0.0
flatbuffers==23.5.26
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.40.0
fqdn==1.5.1
frontend==0.0.3
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
fuzzyset==0.1.2
fuzzywuzzy==0.18.0
gast==0.4.0
gitdb2==4.0.2
GitPython==3.1.40
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
google-api-core==2.11.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-cloud-storage==2.13.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
gpustat==1.1
greenlet==2.0.2
grpcio==1.56.2
h11==0.14.0
h5py==3.9.0
hjson==3.1.0
httplib2==0.22.0
huggingface-hub==0.16.4
humanfriendly==10.0
hydra-core==1.3.2
idna @ file:///croot/idna_1666125576474/work
importlib-metadata==6.8.0
importlib-resources==5.12.0
iopath==0.1.10
ipykernel==6.24.0
ipython==8.12.2
ipython-genutils==0.2.0
ipywidgets==8.0.7
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2 @ file:///croot/jinja2_1666908132255/work
jmespath==1.0.1
joblib==1.3.1
json5==0.9.14
jsonlines==4.0.0
jsonpointer==2.4
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.23.0
keras==2.13.1
kiwisolver==1.4.4
langchain==0.0.237
langcodes==3.3.0
langsmith==0.0.10
Levenshtein==0.21.1
libclang==16.0.6
lightgbm==3.3.5
lit==16.0.6
litellm==0.14.0.dev1
llama-index==0.7.11
looseversion==1.3.0
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
marshmallow==3.19.0
matplotlib==3.7.2
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mistune==3.0.1
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mpmath==1.3.0
muddler==0.1.3
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
mypy-extensions==1.0.0
myst-parser==0.19.2
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbformat==5.9.1
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx==3.1
nibabel==5.1.0
ninja==1.11.1
nipype==1.8.6
nltk==3.8.1
nmslib==2.1.1
notebook==7.0.0
notebook_shim==0.2.3
numexpr==2.8.4
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==12.535.77
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.4.0.dev0
onnxruntime==1.15.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
opt-einsum==3.3.0
overrides==7.3.1
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.0
# Editable install with no version control (pangu-chat==0.0.1)
-e /media/data/mohammad-de/pangu_chat
-e git+https://github.com/facebookresearch/ParlAI.git@6c802418e93a51cbb746b011439ab783dd136de8#egg=parlai
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathlib==1.0.1
pathy==0.10.2
peft==0.4.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.3.0
pipreqs==0.4.13
platformdirs==3.8.1
portalocker==2.7.0
preshed==3.0.8
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.23.4
prov==2.0.0
psutil==5.9.5
ptvsd==4.3.2
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
py-gfm==2.0.0
py-rouge==1.1
PyArabic==0.6.15
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11 @ file:///home/conda/feedstock_root/build_artifacts/pybind11_1605158622735/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/pybind11_1605158622735/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.11
pydot==1.4.2
Pygments @ file:///croot/pygments_1684279966437/work
pyhocon==0.3.60
pyjnius==1.5.0
PyMuPDF==1.18.15
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
pypdf==3.12.2
pyproject_hooks==1.0.0
pyrsistent==0.19.3
pyserini==0.21.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pytest==7.4.3
pytest-regressions==2.5.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-json-logger==2.0.7
python-Levenshtein==0.21.1
pytz==2023.3
pyxnat==1.5
PyYAML==6.0.1
pyzmq @ file:///croot/pyzmq_1686601365461/work
qtconsole==5.4.3
QtPy==2.3.1
rapidfuzz==3.3.1
rdflib==6.3.2
regex==2023.6.3
requests==2.31.0
requests-mock==1.11.0
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rouge-score==0.1.2
rsa==4.9
s3transfer==0.7.0
sacrebleu==2.2.1
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.10.1
Send2Trash==1.8.2
sentencepiece==0.1.99
seqeval==1.2.2
sh==2.0.6
simplejson==3.19.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.4.1
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
Sphinx==5.1.1
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==2.0.0rc4
SQLAlchemy==2.0.19
srsly==2.4.6
stack-data==0.6.2
starlette==0.28.0
subword-nmt==0.3.8
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado==0.17.1
textsearch==0.0.24
tf-slim==1.1.0
thinc==8.1.10
threadpoolctl==3.1.0
tiktoken==0.4.0
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchdata==0.7.0
torchtext==0.16.0
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
traits==6.3.2
transformers @ git+https://github.com/huggingface/transformers@add0895dd98c1a193bf0ada2f3575fcd5e256cb2
triton==2.0.0
trl==0.4.7
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
Unidecode==1.3.7
uri-template==1.3.0
urllib3==1.26.16
uvicorn==0.22.0
wasabi==1.1.2
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.3.6
wget==3.2
widgetsnbextension==4.0.8
wrapt==1.15.0
xxhash==3.2.0
yarg==0.1.9
yarl==1.9.2
zipp==3.16.2
